body {
    background-color: rgb(216, 216, 216);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container {
    width: 80%;
    height: 75%;
    margin: auto;
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
    color: rgb(216, 216, 216);
    padding: 30px;
    text-align: center;
}

h1 {
    margin: 0;
    padding-bottom: 15px;
}

form {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

form .theme {
    width: 70%;
    height: 25px;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 15px;
}

form .submit {
    width: 20%;
    height: 27px;
    border-radius: 10px;
    margin: 0 0 0 5px;
    font-size: 15px;
}

.colour_container {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.colour_container div {
    width: 23%;
    aspect-ratio: 1/1.3;
}

div .colour {
    border: 1px solid rgb(216, 216, 216);
    width: 100%;
    height: 80%;
    background-color: rgb(216, 216, 216);
}

div .colour-label {
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 10px 0;
}

.copy-btn {
    width: 50%;
    padding: 3px 10px;
    text-align: center;
}

footer {
    border-top: 1px solid rgb(216, 216, 216);
    padding-top: 15px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 10%;
    font-size: 14px;
    width: 80%;
}